<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCm8O_FL_iIBO44HwISDoAnylwBHLTbn2E</string>
	<key>GCM_SENDER_ID</key>
	<string>221754445763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.internHub</string>
	<key>PROJECT_ID</key>
	<string>internhub-62dc7</string>
	<key>STORAGE_BUCKET</key>
	<string>internhub-62dc7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221754445763:ios:39e533f2c7ef444f4ff776</string>
</dict>
</plist>